/* From uiverse.io by @adamgiebl */
.bigbutton {
  margin-top: 4px;
  font-family: inherit;
  font-size: 16px;
  background: rgb(52, 133, 133);
  color: whitesmoke;
  padding: 0.5em 1em;
  padding-left: 0.5em;
  display: flex;
  align-items: center;
  border: none;
  border-radius: 10px;
  overflow: hidden;

  transition: all 0.2s;
  /* border: 2px solid rgb(73, 71, 71); */
}

.bigbutton span {
  display: block;
  margin-left: 0.3em;
  transition: all 0.3s ease-in-out;
}

.bigbutton svg {
  display: block;
  transform-origin: center center;
  transition: transform 0.3s ease-in-out;
}

.bigbutton:hover .svg-wrapper {
  animation: fly-1 0.6s ease-in-out infinite alternate;
}

.bigbutton:hover svg {
  transform: translateX(2em) rotate(45deg) scale(1.2);
}

.bigbutton:hover span {
  transform: translateX(5em);
}

.bigbutton:active {
  transform: scale(0.95);
}

@keyframes fly-1 {
  from {
    transform: translateY(0.1em);
  }

  to {
    transform: translateY(-0.1em);
  }
}

/* This changes the outline of the all the Mui textField  */
.MuiOutlinedInput-root.Mui-focused .MuiOutlinedInput-notchedOutline {
  border: 1px solid #5e5e5e !important;
}
